@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    padding: 1rem 0;
    /*background: #fdfdfe;*/
    background: #eceef0;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

input, button {
    font-family: inherit;
}

.light-color {
    color: #676767;
}
.orange-color{
    color: #fd6b3f;
}
.uppercase {
    text-transform: uppercase;
}
.bold{
    font-weight: bold;
}